.transaction_history {
  margin: 0 auto;
  margin-top: 30px;
  width: 350px;
  border: 3px solid rgb(179, 178, 178);
  border-radius: 10px;
}

.transaction_history thead th{
  font-size: 16p;
  color: #050505;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.transaction_history thead tr {
  background-color: teal;
}

.transaction_history  tbody tr td {
  font-size: 16px;
  color: #050505;
  text-align: center;
  margin: 0 auto;
}